{% extends 'plag/base.html' %}
{% load staticfiles %}

{% block page_id %}about{% endblock %}

{% block title %}Contact Us{% endblock %}

{% block desc %}Plagiarism Guardian's addresses (physical and email addresses), helpdesk and other contact information.{% endblock %}

{% block sidebar-content %}
    <section class="box-titled">
        <header>
            <h2>Read More</h2>
        </header>
        {% include 'plag/common/about_links.html' %}
    </section>
{% endblock %}

{% block content %}
    <h1>Contact Us</h1>
    <p>To email us, please <a href="#">contact our helpdesk</a> and we will get back to you as soon as possible. Otherwise, please find our contact information below:</p>
    <h2>Address</h2>
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d110204.74636372508!2d77.9470943!3d30.3254098!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390929c356c888af%3A0x4c3562c032518799!2sDehradun%2C+Uttarakhand!5e0!3m2!1sen!2sin!4v1523253751136" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </iframe>
    <p itemprop="address" itemscope itemtype="http://data-vocabulary.org/Address" id="address">
        Plagiarism Guardian,<br />
        <span itemprop="locality">India</span>,<br />
        <span itemprop="region">India</span>,<br />
        <span itemprop="country-name">India</span>,<br />
        <span itemprop="postal-code">248001</span></p>


        <h2>Contact Info</h2>
        <p> <strong>Phone</strong>: +910000000000<br />

            <strong>General Email</strong>: admin@plagiarismguardian.com <br/>

            </script>

            <strong>Sales Email</strong> :sales@plagiarismguardian.com <br/>


            </script>



            <strong>Support Email</strong>:support@plagiarismguardian.com
            <script type="text/javascript" language="javascript">


            </script><noscript>Sorry, you need Javascript on to email me.</noscript><br />

            <strong>Billing Email</strong>:billing@plagiarismguardian.com
            <script type="text/javascript" language="javascript">


            </script><noscript>Sorry, you need Javascript on to email me.</noscript><br />

            {% endblock %}
